$SpaceBlack : #222831;
$DarkGrey : #393E46;
$Teal : #00ADB5;
$Grey : #EEEEEE;

$pink : #ffc0cb;
$red : #ff0000;
$yellow : #ffff00;
$cyan : #00ffff;
$black : #000000;

$projects-hover : rgba(0, 173, 181, 0.8);

$contact : rgba(0, 0, 0, 0.6);