@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

main {
  min-height: 43vh;
  padding: 5rem 0;
}

h1 {
  font-size: 180%;
}

h2 {
  font-size: 150%;
}

h4 {
  font-size: 120%;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
}

.header {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 -0.2rem 1rem 0 black;
  /*  1st part of header
  ---------------------------------------------------------------------------------------------------- */
  /*  2nd part of header
  ---------------------------------------------------------------------------------------------------- */
  /*  Navigatie
  ---------------------------------------------------------------------------------------------------- */
  /*  Searchbar
  ---------------------------------------------------------------------------------------------------- */
}
.header__div1 {
  height: 15rem;
  padding: 0 10%;
  border-bottom: 0.1rem solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(70deg, white 30%, red 0rem);
}
.header__a3 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.header__img {
  height: 75%;
  border-radius: 1rem;
}
.header__a4 {
  text-decoration: none;
}
.header__h1 {
  color: white;
}
.header__a2 {
  position: relative;
  padding: 1.4rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.header__a2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  left: 0;
  bottom: 0;
  background-color: white;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}
.header__a2:hover::after {
  transform: scale(1, 1);
}
.header__div2 {
  height: 5rem;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(222, 0, 0);
}
.header__ul {
  height: 100%;
  list-style: none;
  display: flex;
  gap: 2.5rem;
}
.header__a {
  text-decoration: none;
  color: white;
}
.header__li {
  position: relative;
  height: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  font-size: 85%;
  font-weight: bold;
}
.header__li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  left: 0;
  bottom: 0;
  background-color: white;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}
.header__li:hover::after {
  transform: scale(1, 1);
}
.header__div3 {
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.header__div3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  left: 0;
  bottom: 0;
  background-color: white;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}
.header__div3:hover::after {
  transform: scale(1, 1);
}
.header__div3 > i {
  color: white;
}

.bmv {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
  /*  1e sectie
  ---------------------------------------------------------------------------------------------------- */
  /*  2e sectie
  ---------------------------------------------------------------------------------------------------- */
  /*  Linker kant 2e sectie
  ---------------------------------------------------------------------------------------------------- */
  /*  Slideshow
  ---------------------------------------------------------------------------------------------------- */
  /*  Rechter kant 2e sectie
  ---------------------------------------------------------------------------------------------------- */
  /*  3e sectie
  ---------------------------------------------------------------------------------------------------- */
}
.bmv__section1 {
  padding: 0 10%;
}
.bmv__section2 {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
}
.bmv__article1 {
  width: 35%;
}
.bmv__div2 {
  display: none;
}
.bmv__slideshow-img {
  vertical-align: middle;
  width: 100%;
  border-radius: 0.5rem;
}
.bmv__slideshow-img:hover {
  transform: scale(1.03);
  transition-duration: 0.3s;
}
.bmv__div3 {
  position: relative;
  max-width: 100rem;
  box-shadow: 0.1rem 0.1rem 0.4rem 0.1rem black;
  overflow: hidden;
  border-radius: 0.5rem;
}
.bmv__a4 {
  text-decoration: none;
}
.bmv__a, .bmv__a2 {
  position: absolute;
  width: auto;
  top: 45%;
  border-radius: 0 0.3rem 0.3rem 0;
  padding: 1.5rem;
  font-weight: bolder;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: 0.6s ease;
}
.bmv__a2 {
  right: 0;
  border-radius: 0.3rem 0 0 0.3rem;
}
.bmv__a:hover, .bmv__a2:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.bmv__div4 {
  position: absolute;
  width: 90%;
  bottom: 2rem;
  padding: 1rem 1.5rem;
  color: white;
  background-color: red;
}
.bmv__a3 {
  text-decoration: none;
  font-size: 90%;
  color: white;
}
.bmv__a3:hover {
  text-decoration: underline;
}
.bmv__div5 {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.bmv__span {
  width: 3rem;
  height: 1rem;
  border: 0.2rem solid darkgray;
  display: inline-block;
  background-color: lightgray;
  cursor: pointer;
  transition: background-color 0.6s ease;
}
.bmv .active, .bmv__span:hover {
  background-color: black;
}
.bmv .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.bmv__article2 {
  position: relative;
  width: 50%;
  z-index: -10;
}
.bmv__article2::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: -5rem;
  width: 120%;
  height: 105%;
  transform: rotate(-5deg);
  background: red;
  transform-origin: top left;
}
.bmv__div {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  z-index: 1;
}
.bmv__p {
  display: flex;
  flex-direction: column;
}
.bmv__span2 {
  font-weight: 800;
}
.bmv__section3 {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
}
.bmv__a5 {
  position: relative;
  padding: 1.4rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.bmv__a5::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3rem;
  left: 0;
  bottom: 0;
  background-color: red;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}
.bmv__a5:hover::after {
  transform: scale(1, 1);
}

.organisatie__section {
  padding: 0 10%;
}
.organisatie__section2 {
  margin: 5rem 0;
  padding: 5rem 10%;
  color: white;
  background-color: red;
}
.organisatie__article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.organisatie__h1 {
  margin-bottom: 2rem;
}
.organisatie__p {
  display: flex;
  flex-direction: column;
}
.organisatie__span {
  font-weight: bold;
}
.organisatie__ul {
  margin-left: 2rem;
  list-style: square;
}

.projecten__section1 {
  padding: 0 10% 3rem 10%;
}
.projecten__section2 {
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 5rem;
}
.projecten__a {
  width: 23%;
}
.projecten__article {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0.2rem 0.2rem 0.5rem 0 black;
}
.projecten__article:hover .projecten__div2 {
  width: 100%;
  left: 0;
  transition: 0.6s;
}
.projecten__article:hover .projecten__img {
  filter: blur(0.2rem);
  transition-duration: 0.2s;
}
.projecten__img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1rem;
}
.projecten__div2 {
  position: absolute;
  width: 0;
  height: 100%;
  bottom: 0;
  left: 100%;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}
.projecten__div4 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.projecten__h41 {
  font-size: 95%;
}
.projecten__p {
  font-size: 80%;
}
.projecten__div3 {
  display: flex;
  align-items: center;
  justify-content: end;
  text-decoration: underline;
}

.project__section {
  padding: 0 10%;
  float: left;
}
.project__p {
  background-color: red;
  padding: 2rem;
}
.project__img {
  float: left;
  background-color: none;
}

.werken__article {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.werken__h1 {
  margin-bottom: 2rem;
}

.footer {
  width: 100%;
  height: 17.5rem;
  padding: 2rem 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: red;
  box-shadow: 0 0.2rem 1rem 0 black;
}
.footer > article {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}
.footer > article > h4 {
  margin-bottom: 0.5rem;
}
.footer > article > p {
  margin-bottom: 0.5rem;
  font-size: 80%;
}
.footer > article > a {
  font-size: 85%;
  font-weight: bold;
  color: white;
}

@media only screen and (max-width: 300px) {
  .bmv__a, .bmv__a2, .bmv__div4 {
    font-size: 11px;
  }
}

/*# sourceMappingURL=style.css.map */
