@use "../abstracts/colors";
@use "../abstracts/mixins";
@use "../abstracts/vars";

.header{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    // background-color: orange;
    box-shadow: 0 -0.2rem 1rem 0 black;
    
    /*  1st part of header
    ---------------------------------------------------------------------------------------------------- */
    &__div1{
        height: 15rem;
        padding: 0 10%;
        border-bottom: 0.1rem solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background-color: red;
        background: linear-gradient(70deg, white 30%, red 0rem);
    }

    &__img{
        // width: 15rem;
        // height: 11rem;
        height: 75%;
        border-radius: 1rem;
    }

    &__div4{
        // width: 4rem;
        // height: 4rem;
        // background-color: blue;
    }

    &__h1{
        color: white;
        // font-size: 200%;
    }

    &__a2{
        position: relative;
        padding: 1.4rem 3rem;
        @include mixins.flexCenter;
        // font-size: 100%;
    	font-weight: bold;
        text-decoration: none;
        color: white;

        cursor: pointer;
    }

    &__a2::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 0.3rem;
        left: 0;
        bottom: 0;
        background-color: white;
        transform: scale(0, 1);
        transform-origin: 0% 100%;
        transition: transform 0.3s ease;
    }

    &__a2:hover::after{
        transform: scale(1, 1);
    }

    /*  2nd part of header
    ---------------------------------------------------------------------------------------------------- */
    &__div2{
        height: 5rem;
        padding: 0 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(222, 0, 0);
    }

    /*  Navigatie
    ---------------------------------------------------------------------------------------------------- */
    &__ul{
        height: 100%;
        list-style: none;
        display: flex;
        gap: 2.5rem;
    }

    &__a{
        text-decoration: none;
        color: white;
    }

    &__li{
        position: relative;
        height: 100%;
        padding: 1rem 1.5rem;
        display: flex;
        align-items: center;
        font-size: 85%;
    	font-weight: bold;
    }

    &__li::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 0.3rem;
        left: 0;
        bottom: 0;
        background-color: white;
        transform: scale(0, 1);
        transform-origin: 0% 100%;
        transition: transform 0.3s ease;
    }

    &__li:hover::after{
        transform: scale(1, 1);
    }

    /*  Searchbar
    ---------------------------------------------------------------------------------------------------- */
    &__div3{
        height: 100%;
        aspect-ratio: 1/1;
        @include mixins.flexCenter;
        position: relative;
        
        cursor: pointer;
    }

    &__div3::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 0.3rem;
        left: 0;
        bottom: 0;
        background-color: white;
        transform: scale(0, 1);
        transform-origin: 0% 100%;
        transition: transform 0.3s ease;
    }
    
    &__div3:hover::after{
        transform: scale(1, 1);
    }
    
    &__div3 > i{
        color: white;
    }
}