@use "../abstracts/colors";
@use "../abstracts/mixins";
@use "../abstracts/vars";

.project{

    &__section{
        // height: 40rem;
        padding: 0 10%;
        // overflow: hidden;
        float: left;
    }

    &__p{
        background-color: red;
        padding: 2rem;
    }

    &__img{
        // width: 100%;
        float: left;
        background-color: none;
    }
}