@use "./abstracts/colors";
@use "./abstracts/mixins";
@use "./abstracts/vars";

body{
    font-family: vars.$font-family;
}

main{
    min-height: 43vh;
    padding: 5rem 0;
}

h1{
    font-size: 180%;
}

h2{
    font-size: 150%;
}

h4{
    font-size: 120%;
}